#MacOS specific
.DS_store

# IDE specific config
.idea

# local postgres volume
postgres-data
postgres-integration-data

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

src/subscriptions
src/src
response.json
# Test binary, built with `go test -c`
*.test

src/api/api.gen.go
